
<script setup lang="ts">
import type { BattleRoundPreRollingStatus } from '@/stores/fight'
import { useFightStore } from '@/stores/fight'
import FightLayout from '../components/FightLayout.vue'
import DiceControlWithChooseFace from '../components/DiceControlWithChooseFace.vue'
import { useI18n } from 'vue-i18n';

defineProps<{
  status: BattleRoundPreRollingStatus
}>()

const fightStore = useFightStore()
function next() {
  fightStore.nextFight()
}

const { t } = useI18n()
</script>

<template>
  <FightLayout>
    <template #active-controls="{ faction }">
      <h1 class="phase-short-guides">{{ t('phaseShortGuides.preRolling') }}</h1>
      <template v-if="status.diceResult">
        <DiceControlWithChooseFace
          :faction="faction"
          :dice="status.diceResult"
        />
      </template>
      <button
        class="action main glossy mdi mdi-dice-multiple"
        @click="next"
      />
    </template>
    <template #active-help>
      <i18n-t tag="p" keypath="phaseGuides.preRolling.overall">
        <template #dice>
          <span class="mdi mdi-dice-multiple" />
        </template>
      </i18n-t>
      <i18n-t tag="p" keypath="phaseGuides.preRolling.oneInMillion">
        <template #dice>
          <span class="mdi mdi-dice-multiple" />
        </template>
      </i18n-t>
    </template>
  </FightLayout>
</template>

<style scoped lang="scss">
.container {
  display: grid;
  grid:
    'phase btn' min-content
    'dice  btn' min-content
    / max-content min-content;

  .phase-short-guides {
    grid-area: phase;

  }
  button {
    grid-area: btn;
  }
  .dice-container {
    grid-area: dice;
  }
}
</style>
