<script setup lang="ts">
import type { BattleRoundRemovalStatus } from '@/stores/fight'
import { useFightStore } from '@/stores/fight'
import { useI18n } from 'vue-i18n';
import FightLayout from '../components/FightLayout.vue'
import TheatreRowContol from '../components/TheatreRowContol.vue'

defineProps<{
  status: BattleRoundRemovalStatus
}>()

const fightStore = useFightStore()
function next() {
  fightStore.nextFight()
}

function removeDamage({ unitId }: { unitId: string }) {
  fightStore.changeRemovalAssignment(unitId, true)
}

function cancelDamageRemoval({ unitId }: { unitId: string }) {
  fightStore.changeRemovalAssignment(unitId, false)
}

const { t } = useI18n()
</script>

<template>
  <FightLayout>
    <template #passive-controls>
      <h1 class="phase-short-guides" v-if="status.drawingFire">
        {{ t('phaseShortGuides.removalDrawingFire', {
          n: status.availableRemoval,
          drawingFire: t(`units.${status.drawingFire}`)
        }) }}
      </h1>
      <h1 class="phase-short-guides" v-else>
        {{ t('phaseShortGuides.removalSimple', status.availableRemoval) }}
      </h1>
      <button class="action main glossy mdi mdi-check" @click="next" />
    </template>
    <template #passive="{ faction, theatre }">
      <TheatreRowContol
        :faction="faction"
        :theatre="theatre"
        @damage="removeDamage"
        @damage-undo="cancelDamageRemoval"
        mode="heal"
      />
    </template>
    <template #passive-help="{ faction }">
      <i18n-t tag="p" keypath="phaseGuides.removal.overall">
        <template #card>
          {{ t(`preventDamageCardsName.${faction}.${status.theatre}`) }}
        </template>
        <template #count>
          {{ status.availableRemoval }}
        </template>
        <template #drawingFire v-if="status.drawingFire">
          {{ t('phaseGuides.removal.drawingFire', { unit: t(`units.${status.drawingFire}`) }) }}
        </template>
      </i18n-t>
      <i18n-t 
        v-if="status.drawingFire && status.drawingGettingDamage"
        tag="p"
        keypath="phaseGuides.removal.drawingGettingDamage"
      >
        <template #unit>
          {{ t(`units.${status.drawingFire}`) }}
        </template>
      </i18n-t>
    </template>
  </FightLayout>
</template>
