<template>
  <FightLayout>
    <template #active-controls="{ faction, factionState }">
      <template v-if="status.diceResult">
        <h1 class="phase-short-guides" v-if="props.status.rerollAvailable">
          {{ t('phaseShortGuides.rolling', factionState.tacticStrengths[status.theatre]) }}
        </h1>
        <h1 class="phase-short-guides" v-else-if="props.status.targetStarDestroyersAvailable">
          {{ t('phaseShortGuides.targetStarDestroyers') }}
        </h1>
        <div class="dice-and-button">
          <DiceControlWithChooseDie
            :faction="faction"
            :dice="status.diceResult"
            :max-selected="
              props.status.rerollAvailable
                ? factionState.tacticStrengths[status.theatre]
                : 2
            "
            :can-select="canSelect"
            v-model="diceSelection"
          />
          <button
            class="action glossy mdi mdi-dice-multiple"
            v-if="status.rerollAvailable"
            @click="reroll"
            :disabled="diceSelection.length === 0"
          />
          <button
            class="action glossy turn"
            v-else-if="status.targetStarDestroyersAvailable"
            @click="turnBlackToRed"
            :disabled="!turnBlackToRedEnabled"
          >
            <DieIcon die-type="light" die-face="hit" small />
            <span class="mdi mdi-arrow-right-bold" />
            <DieIcon die-type="heavy" die-face="hit" small />
          </button>
        </div>
      </template>
      <button class="action main glossy mdi mdi-check-bold" @click="next" />
    </template>
    <template #active-help="{ factionState }">
      <i18n-t 
        v-if="status.rerollAvailable"
        tag="p" 
        keypath="phaseGuides.rolling.overall" 
        :plural="factionState.tacticStrengths[status.theatre]"
      >
        <template #theatre>
          {{ status.theatre }}
        </template>
        <template #dice>
          <span class="mdi mdi-dice-multiple" />
        </template>
      </i18n-t>
      <i18n-t
        v-if="status.targetStarDestroyersAvailable"
        tag="p" 
        keypath="phaseGuides.rolling.turnBlackToRed" 
        :plural="factionState.tacticStrengths[status.theatre]"
      >
        <template #blackHit>
          <DieIcon die-type="light" die-face="hit" small />
        </template>
        <template #redHit>
          <DieIcon die-type="heavy" die-face="hit" small />
        </template>
        <template #warning v-if="status.rerollAvailable">
          {{ t('phaseGuides.rolling.warning') }}
        </template>
      </i18n-t>
      <i18n-t tag="p" keypath="phaseGuides.rolling.continue">
        <template #check>
          <span class="mdi mdi-check" />
        </template>
      </i18n-t>
    </template>
  </FightLayout>
</template>

<style scoped lang="scss">
.dice-and-button {
  display: flex;
  flex-flow: row;
}
.dice-and-button > button {
  margin: 0.7vmin 0.3vmin;
  flex: 1;
}

.container {
  display: grid;
  grid:
    'phase    phase    phase   ' min-content
    'dice     btn-roll btn-turn' min-content
    'btn-next btn-next btn-next' min-content
    / max-content max-content max-content;

  .phase-short-guides {
    grid-area: phase;

  }
  .dice-container {
    grid-area: dice;
  }
  .mdi-dice-multiple {
    grid-area: btn-roll;
  }
  .turn {
    grid-area: btn-turn;
  }
  .mdi-dice-multiple, .turn {
    margin: 0.7vmin 0.3vmin;
    width: 12vmin;
    flex: 1;
  }
  .mdi-check-bold {
    grid-area: btn-next;
  }
}
</style>

<script setup lang="ts">
import type { BattleRoundRollingStatus } from '@/stores/fight'
import { useFightStore } from '@/stores/fight'
import FightLayout from '../components/FightLayout.vue'
import type { DiceId, DieFace } from '@/config/dice'
import { computed, ref } from 'vue'
import DiceControlWithChooseDie from '../components/DiceControlWithChooseDie.vue'
import DieIcon from '../components/DieIcon.vue'
import { useI18n } from 'vue-i18n'

const diceSelection = ref<DiceId[]>([])
const props = defineProps<{
  status: BattleRoundRollingStatus
}>()

const fightStore = useFightStore()

function canSelect(id: DiceId, face: DieFace) {
  if (props.status.rerollAvailable) {
    return true
  }
  return (
    props.status.targetStarDestroyersAvailable &&
    id.type === 'light' &&
    face === 'hit'
  )
}

const turnBlackToRedEnabled = computed(
  () =>
    diceSelection.value.length > 0 &&
    diceSelection.value.length <= 2 &&
    diceSelection.value.every(
      (dieId) =>
        dieId.type === 'light' &&
        props.status.diceResult[dieId.type][dieId.index] === 'hit'
    )
)

function reroll() {
  fightStore.reroll(diceSelection.value)
  diceSelection.value = []
}

function skipReroll() {
  diceSelection.value = []
  fightStore.reroll(diceSelection.value)
}
function next() {
  if (props.status.rerollAvailable) {
    skipReroll()
  } else {
    fightStore.nextFight()
  }
}

function turnBlackToRed() {
  fightStore.turnHeavy(diceSelection.value)
  diceSelection.value = []
}

const { t } = useI18n()
</script>
