

<script setup lang="ts">
import type { BattleRoundAssignmentStatus } from '@/stores/fight'
import { useFightStore } from '@/stores/fight'
import FightLayout from '../components/FightLayout.vue'
import TheatreRowContol from '../components/TheatreRowContol.vue'
import DieEffects from '../components/DieEffects.vue'
import { useI18n } from 'vue-i18n'
import { computed } from 'vue'
import IconExplosion from '../components/IconExplosion.vue'

const props = defineProps<{
  status: BattleRoundAssignmentStatus
}>()

const fightStore = useFightStore()
function next() {
  fightStore.nextFight()
}

function damage({ unitId }: { unitId: string }) {
  fightStore.changeDamagingDieAssignment(unitId, true)
}

function cancelDamage({ unitId }: { unitId: string }) {
  fightStore.changeDamagingDieAssignment(unitId, false)
}

function heal({ unitId }: { unitId: string }) {
  fightStore.changeHealingDieAssignment(unitId, true)
}

function cancelHeal({ unitId }: { unitId: string }) {
  fightStore.changeHealingDieAssignment(unitId, false)
}

const { t } = useI18n()
const totalDamage = computed(() => props.status.dieEffects.damageAny
  + props.status.dieEffects.damageLight
  + props.status.dieEffects.damageHeavy
  + props.status.dieEffects.healLight
  + props.status.dieEffects.healHeavy
)
</script>

<template>
  <FightLayout>
    <template #active-controls>
      <h1 class="phase-short-guides">{{ t('phaseShortGuides.assignment', totalDamage) }}</h1>
      <DieEffects :dieEffects="status.dieEffects" />
      <button class="action main glossy mdi mdi-check" @click="next" />
    </template>
    <template #active="{ faction, theatre }">
      <TheatreRowContol
        :faction="faction"
        :theatre="theatre"
        @damage="heal"
        @damage-undo="cancelHeal"
        mode="heal"
      />
    </template>
    <template #passive="{ faction, theatre }">
      <TheatreRowContol
        :faction="faction"
        :theatre="theatre"
        @damage="damage"
        @damage-undo="cancelDamage"
        mode="damage"
      />
    </template>
    <template #active-help>
      <i18n-t tag="p" keypath="phaseGuides.assignment.damage">
        <template #theatre>
          {{ status.theatre }}
        </template>
        <template #lightDamageEffect>
          <span class="mdi mdi-octagram light">N</span>
        </template>
        <template #heavyDamageEffect>
          <span class="mdi mdi-octagram heavy">N</span>
        </template>
        <template #anyDamageEffect>
          <span class="mdi mdi-octagram any">N</span>
        </template>
        <template #lightDamage>
          <IconExplosion class="light"/>
        </template>
        <template #heavyDamage>
          <IconExplosion class="heavy"/>
        </template>
      </i18n-t>
      <i18n-t tag="p" keypath="phaseGuides.assignment.heal">
        <template #theatre>
          {{ status.theatre }}
        </template>
        <template #lightRepairEffect>
          <span class="mdi mdi-heart-plus light"/>
        </template>
        <template #heavyRepairEffect>
          <span class="mdi mdi-heart-plus heavy"/>
        </template>
      </i18n-t>
    </template>
  </FightLayout>
</template>

<style scoped>

.light {
  background-color: black;
}
.heavy {
  background-color: darkred;
}
.any {
  background-color: lightgray;
  color: hsl(0deg, 0%, 20%);
}
</style>