<template>
  <FightLayout>
    <template #common-controls>
      <h1 class="phase-short-guides">
        {{ t('phaseShortGuides.end') }}
      </h1>
      <button class="action main glossy mdi mdi-new-box" @click="newFight"/>
    </template>
  </FightLayout>
</template>

<script setup lang="ts">
import { useFightStore } from '@/stores/fight'
import { useI18n } from 'vue-i18n';
import FightLayout from '../components/FightLayout.vue'

const fightStore = useFightStore()

function newFight() {
  fightStore.nextFight()
}
const { t } = useI18n()
</script>
