<template>
  <StartCombatView v-if="fightStore.status.type === 'initial'" />
  <TacticView
    v-if="fightStore.status.type === 'tactic'"
    :status="fightStore.status"
  />
  <BattlePreRollingView
    v-if="fightStore.status.type === 'battle-pre-rolling'"
    :status="fightStore.status"
  />
  <BattleRollingView
    v-if="fightStore.status.type === 'battle-rolling'"
    :status="fightStore.status"
  />
  <BattleAssignmentView
    v-if="fightStore.status.type === 'battle-assignment'"
    :status="fightStore.status"
  />
  <BattleRemovalView
    v-if="fightStore.status.type === 'battle-removal'"
    :status="fightStore.status"
  />
  <EndCombatView
    v-if="fightStore.status.type === 'end'"
    :status="fightStore.status"
  />
</template>

<script setup lang="ts">
import { useFightStore } from '@/stores/fight'
import StartCombatView from './StartCombatView.vue'
import TacticView from './TacticView.vue'
import BattlePreRollingView from './BattlePreRollingView.vue'
import BattleRollingView from './BattleRollingView.vue'
import BattleAssignmentView from './BattleAssignmentView.vue'
import BattleRemovalView from './BattleRemovalView.vue'
import EndCombatView from './EndCombatView.vue'

const fightStore = useFightStore()
</script>
