
<script setup lang="ts">
import DualPanels from '../components/DualPanels.vue'
import type { Faction } from '@/config/ships'
import UnitCountPicker from '../components/UnitCountPicker.vue'
import TacticStrengthPicker from '../components/TacticStrengthPicker.vue'
import { useFightStore } from '../stores/fight'
import SpecialCardButton from '../components/SpecialCardButton.vue'
import { computed } from 'vue'
import { useI18n } from 'vue-i18n'

const fightStore = useFightStore()
const { t } = useI18n()

function attack(faction: Faction) {
  fightStore.aggressor = faction
  fightStore.initiative.space = faction
  fightStore.initiative.ground = faction
  fightStore.nextFight()
}

const oneInMillionUsed = computed({
  get: () => !fightStore.oneInMillionAvailable,
  set: (value) => (fightStore.oneInMillionAvailable = !value),
})
</script>

<template>
  <DualPanels>
    <template v-slot="{ faction, factionState, side }">
      <div :class="{
        'action-bar': true, 
        [side]: true, 
        [faction]: true,
        right: side === 'b'
      }">
        <button
          class="action main glossy mdi mdi-sword"
          @click="attack(faction)"
        />
      </div>
      <div :class="{
        'space': true, 
        [side]: true, 
        [faction]: true,
        right: side === 'b'
      }">
        <UnitCountPicker
          v-for="(unit, id) in factionState.space"
          :key="id"
          :unitId="(id as string)"
          :faction="faction"
          theatre="space"
          :max="unit.maxCount"
          v-model="unit.count"
        />
      </div>
      <div :class="{
        'space-tactic': true, 
        [side]: true, 
        [faction]: true,
        right: side === 'b'
      }">
        <TacticStrengthPicker
          :max="9"
          theatre="space"
          v-model="factionState.tacticStrengths.space"
        />
      </div>
      <div :class="{
        'ground': true, 
        [side]: true, 
        [faction]: true,
        right: side === 'b'
      }">
        <UnitCountPicker
          v-for="(unit, id) in factionState.ground"
          :key="id"
          :unitId="(id as string)"
          :faction="faction"
          theatre="ground"
          :max="unit.maxCount"
          v-model="unit.count"
        />
      </div>
      <div :class="{
        'ground-tactic': true, 
        [side]: true, 
        [faction]: true,
        right: side === 'b'
      }">
        <TacticStrengthPicker
          :max="9"
          theatre="ground"
          v-model="factionState.tacticStrengths.ground"
        />
      </div>
      <div :class="{
        'action-cards-block': true, 
        [side]: true, 
        [faction]: true,
        right: side === 'b'
      }">
        <template v-if="factionState.faction === 'rebel'">
          <div>{{ t('cards.actionCards') }}</div>
          <SpecialCardButton v-model="factionState.specialCards.pointBlankAssault">
            {{ t('cards.pointBlankAssault') }}
          </SpecialCardButton>
          <SpecialCardButton v-model="factionState.specialCards.targetStarDestroyers">
            {{ t('cards.targetStarDestroyers') }}
          </SpecialCardButton>
          <SpecialCardButton v-model="oneInMillionUsed">
            {{ t('cards.oneInMillionUsed') }}
          </SpecialCardButton>
        </template>
        <template v-else>
          <div>{{ t('cards.actionCards') }}</div>
          <SpecialCardButton v-model="factionState.specialCards.accordingToMyDesign">
            {{ t('cards.accordingToMyDesign') }}
          </SpecialCardButton>
        </template>
      </div>
    </template>
    <template #help-panel="{ faction }">
      <p>{{ t('phaseGuides.initial.context') }}</p>
      <i18n-t tag="p" keypath="phaseGuides.initial.enterTactic">
        <template #spaceIcon>
          <span class="mdi mdi-star-four-points" />
        </template>
        <template #groundIcon>
          <span class="mdi mdi-earth" />
        </template>
      </i18n-t>
      <i18n-t tag="p" keypath="phaseGuides.initial.enterUnits">
        <template #space>
          <span class="help-space">{{ t('theatres.space').toLowerCase() }}</span>
        </template>
        <template #ground>
          <span class="help-ground">{{ t('theatres.ground').toLowerCase() }}</span>
        </template>
      </i18n-t>
      <p v-if="faction === 'rebel'">
        {{ t('phaseGuides.initial.enterActionCardsRebel') }}
      </p>
      <p v-if="faction === 'empire'">
        {{ t('phaseGuides.initial.enterActionCardsEmpire') }}
      </p>
      <i18n-t tag="p" keypath="phaseGuides.initial.startFight">
        <template #fightIcon>
          <span class="mdi mdi-sword" />
        </template>
      </i18n-t>
      <i18n-t tag="p" keypath="phaseGuides.initial.headerActions">
        <template #swapIcon>
          <span class="swap" />
        </template>
        <template #languageIcon>
          <span class="mdi mdi-translate" />
        </template>
        <template #newIcon>
          <span class="mdi mdi-new-box" />
        </template>
        <template #helpIcon>
          <span class="mdi mdi-help-box" />
        </template>
      </i18n-t>
    </template>
  </DualPanels>
</template>

<style scoped lang="sass">
.action-bar 
  @media (orientation: portrait) 
    border: 0px solid hsla(0deg, 0%, 100%, 80%)
  
.action-bar.a 
  grid-area: actio-a
  
.action-bar.b 
  grid-area: actio-b
  

.action-cards-block 
  display: flex
  flex-flow: row wrap
  align-items: center

.action-cards-block.b
  @media (orientation: landscape) 
    flex-direction: row-reverse

.space:not(.picker-row), .ground:not(.picker-row)
  align-self: stretch
  display: flex
  flex-direction: column
  @media (orientation: portrait)
    justify-content: flex-end

.space
  background-color: var(--color-space-faint)
  &.a 
    grid-area: space-a

  &.b 
    grid-area: space-b

.ground
  background-color: var(--color-ground-faint)

  &.a 
    grid-area: groun-a

  &.b 
    grid-area: groun-b

.space-tactic.a 
  grid-area: tacts-a

.space-tactic.b 
  grid-area: tacts-b

.ground-tactic.a 
  grid-area: tactg-a

.ground-tactic.b 
  grid-area: tactg-b

.action-cards-block.a 
  grid-area: actcd-a

.action-cards-block.b 
  grid-area: actcd-b

@media (orientation: landscape) 
  .right .action-cards-block 
    flex-direction: row-reverse
  
.action-cards-block div 
  padding: 0.5rem
  
.b 
  @media (orientation: portrait) 
    transform: rotate(-180deg)

.help-space
  color: hsla(240deg, 100%, 75%, 1)
.help-ground
  color: hsla(035deg, 100%, 75%, 1)

.help-panel 
  .mdi
    padding: 0.4vmin
  .mdi-star-four-points
    background-color: var(--color-space)
  .mdi-earth
    background-color: var(--color-ground)
</style>
