<template>
  <FightLayout>
    <template #common-controls="{ faction }">
      <h1 class="phase-short-guides" v-if="fightStore.aggressor === faction">
        {{ t('phaseShortGuides.tacticAggressor', { card: $t('tacticCards.' + status.theatre) }) }}
      </h1>
      <h1 class="phase-short-guides" v-else>
        {{ t('phaseShortGuides.tacticDefender', { card: $t('tacticCards.' + status.theatre) }) }}
      </h1>
      <TacticEffectsRows :faction="faction" />
      <div :class="{ 'attack-button': true, 'hide': faction !== initiative }">
        <button
          class="action secondary glossy mdi mdi-shield"
          @click="defend"
        />
        <button class="action main glossy mdi mdi-sword" @click="attack" />
      </div>
    </template>
    <template #common-help="{ faction }">
      <p>
        {{ t('phaseGuides.tactic.overall', { 
          card: $t('tacticCards.' + status.theatre),
          firstResolution: $t(fightStore.aggressor === faction 
            ? 'phaseGuides.tactic.currentFirst'
            : 'phaseGuides.tactic.oponentFirst')
        }) }}
      </p>
      <i18n-t tag="p" keypath="phaseGuides.tactic.effects">
        <template #preventLight>
          <IconPrevent type="damageLight" />
        </template>
        <template #preventHeavy>
          <IconPrevent type="damageHeavy" />
        </template>
        <template #preventAny>
          <IconPrevent type="damageAny" />
        </template>
        <template #special>
          <PreventHealingToggle :model-value="false" disabled/>
        </template>
        <template #unit>
          <RemoveDamagePicker 
            :model-value="true" 
            disabled 
            :faction="faction" 
            :theatre="status.theatre"
          />
        </template>
        <template #cardName>
          {{ t(`preventDamageCardsName.${faction}.${status.theatre}`) }}
        </template>
        <template #damage>
          <IconExplosion />
        </template>
        <template #heal>
          <span class="mdi mdi-heart-plus" />
        </template>
        <template #plus>
          <span class="mdi mdi-plus" />
        </template>
        <template #minus>
          <span class="mdi mdi-minus" />
        </template>
      </i18n-t>
    </template>
    <template #active="{ faction, theatre }">
      <TheatreRowContol
        :faction="faction"
        :theatre="theatre"
        @damage="damage"
        @damage-undo="heal"
        mode="tactic"
      />
    </template>
  </FightLayout>
</template>

<style scoped>
.tactic-controls,
.attack-button {
  display: flex;
  flex-flow: row wrap;
}

.right .tactic-controls,
.right .attack-button {
  flex-direction: row-reverse;
}

.hide {
  visibility: hidden;
}
</style>

<script setup lang="ts">
import {
  useFightStore,
  type TacticStatus,
  type VulnerableUnitState,
} from '@/stores/fight'
import FightLayout from '../components/FightLayout.vue'
import TheatreRowContol from '../components/TheatreRowContol.vue'
import TacticEffectsRows from '../components/TacticEffectsRows.vue'
import { computed } from 'vue'
import { useI18n } from 'vue-i18n'
import IconExplosion from '../components/IconExplosion.vue'
import IconPrevent from '../components/icons/IconPrevent.vue'
import PreventHealingToggle from '../components/PreventHealingToggle.vue'
import RemoveDamagePicker from '../components/RemoveDamagePicker.vue'

const props = defineProps<{
  status: TacticStatus
}>()

const { t } = useI18n()
const fightStore = useFightStore()

const initiative = computed({
  get: () => fightStore.initiative[props.status.theatre],
  set: (value) => (fightStore.initiative[props.status.theatre] = value),
})

function attack() {
  fightStore.nextFight()
}

function defend() {
  initiative.value = initiative.value === 'rebel' ? 'empire' : 'rebel'
}

function heal({ unit }: { unit: VulnerableUnitState }) {
  unit.damage--
}

function damage({ unit }: { unit: VulnerableUnitState }) {
  unit.damage++
}
</script>
