<template>
  <button
    v-for="i in maxUnit + 1"
    :key="i - 1"
    :class="{ 
      glossy: true, 
      square: true, 
      number: true, 
      active: i - 1 === valueUnit 
    }"
    :disabled="i - 1 > currentMaxUnit"
    @click="changeUnit(i - 1)"
  >
    {{ i - 1 }}
  </button>
  <template v-if="maxTens >= 1">
    <button
      v-for="i in maxTens + 1"
      :key="(i - 1) * 10"
      :class="{ 
        glossy: true, 
        square: true, 
        number: true, 
        active: i - 1 === valueTens 
      }"
      @click="changeTens(i - 1)"
    >
      +{{ (i - 1) * 10 }}
    </button>
  </template>
</template>

<script setup lang="ts">
import { computed } from 'vue'

const props = defineProps<{
  max: number
  modelValue: number
}>()
const emit = defineEmits<{
  (e: 'update:modelValue', value: number): void
}>()

function toUnit(number: number) {
  return number % 10
}

function toTens(number: number) {
  return Math.floor(number / 10)
}

const value = computed({
  get() {
    return props.modelValue
  },
  set(value: number) {
    emit('update:modelValue', value)
  },
})
const valueUnit = computed(() => toUnit(value.value))
const valueTens = computed(() => toTens(value.value))

const maxUnit = computed(() => Math.min(9, props.max))
const maxTens = computed(() => toTens(props.max))

const currentMaxUnit = computed(() =>
  Math.min(props.max - valueTens.value * 10, 10)
)

function changeUnit(unit: number) {
  value.value = Math.min(valueTens.value * 10 + unit, props.max)
}
function changeTens(tens: number) {
  value.value = Math.min(tens * 10 + valueUnit.value, props.max)
}
</script>
