<template>
  <DiceControl
    :faction="faction"
    :dice="dice"
    :max-selected="maxSelected"
    :dice-selection="diceSelection"
    @update:dice="(id, value) => setSelected(id, value)"
    :canSelect="canSelect"
  />
</template>

<script setup lang="ts">
import type { Faction } from '@/config/ships'
import DiceControl from './DiceControl.vue'
import { computed } from 'vue'
import type { DiceId, DiceResult, DieFace, DieType } from '@/config/dice'

const props = defineProps<{
  faction: Faction
  dice: DiceResult
  modelValue: DiceId[]
  maxSelected: number
  canSelect: (id: DiceId, face: DieFace) => boolean
}>()

const emit = defineEmits<{
  (e: 'update:modelValue', value: DiceId[]): void
}>()

const diceSelection = computed(() => {
  const result = {
    light: generateArray('light'),
    heavy: generateArray('heavy'),
    versatile: generateArray('versatile'),
  }

  for (var id of props.modelValue) {
    if (id.index < result[id.type].length) {
      result[id.type][id.index] = true
    }
  }

  return result

  function generateArray(type: DieType) {
    const dice = props.dice?.[type]
    return Array(dice?.length ?? 0).fill(false)
  }
})

function dieIdEquals(id: DiceId, selectedId: DiceId) {
  return id.type === selectedId.type && id.index === selectedId.index
}

function setSelected(selectedId: DiceId, value: boolean) {
  if (!value || props.modelValue.length < props.maxSelected) {
    const newModelValue = props.modelValue.filter(
      (id) => !dieIdEquals(id, selectedId)
    )
    if (value) {
      newModelValue.push(selectedId)
    }
    emit('update:modelValue', newModelValue)
  }
}
</script>
