<template>
  <div class="dice-container">
    <div v-for="(results, type) in dice" :key="type" class="dice-block">
      <DieIcon
        v-for="(face, index) in results"
        :key="index"
        :die-type="type"
        :die-face="face"
        :assigned="false"
        :model-value="diceSelection[type][index]"
        @update:model-value="
          (value) => $emit('update:dice', { type, index }, value)
        "
        :disabled="
          (!diceSelection[type][index] &&
            selectionCount >= props.maxSelected) ||
          !!(canSelect && !canSelect({ type, index }, face))
        "
      />
    </div>
  </div>
</template>

<style scoped lang="scss">
.dice-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.dice-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.5vmin;
}

.right .dice-block {
    flex-direction: row-reverse;
}

.die-light {
  background-color: black;
  color: white;
}

.die-heavy {
  background-color: red;
  color: white;
}

.die-versatile {
  background-color: green;
  color: white;
}
</style>

<script setup lang="ts">
import type { Faction } from '@/config/ships'
import DieIcon from '../components/DieIcon.vue'
import type { DiceId, DiceResult, DieFace } from '@/config/dice'
import { computed } from 'vue'

const props = defineProps<{
  faction: Faction
  dice: DiceResult
  maxSelected: number
  diceSelection: {
    light: boolean[]
    heavy: boolean[]
    versatile: boolean[]
  }
  canSelect?: (id: DiceId, face: DieFace) => boolean
}>()

defineEmits<{
  (e: 'update:dice', id: DiceId, value: boolean): void
}>()

const selectionCount = computed(
  () =>
    countTrue(props.diceSelection.light) +
    countTrue(props.diceSelection.heavy) +
    countTrue(props.diceSelection.versatile)
)

function countTrue(array: Array<boolean>) {
  return array.filter((value) => value).length
}
</script>
