<template>
  <DiceControl
    :faction="faction"
    :dice="dice"
    :dice-selection="diceSelection"
    @update:dice="(id) => changeFace(id)"
    :max-selected="2"
  />
</template>

<script setup lang="ts">
import type { Faction } from '@/config/ships'
import DiceControl from '../components/DiceControl.vue'
import { computed } from 'vue'
import type { DiceId, DiceResult, DieFace, DieType } from '@/config/dice'

const props = defineProps<{
  faction: Faction
  dice: DiceResult
}>()

const diceSelection = computed(() => {
  return {
    light: generateArray('light'),
    heavy: generateArray('heavy'),
    versatile: generateArray('versatile'),
  }

  function generateArray(type: DieType) {
    return props.dice[type].map((face) => face !== 'miss')
  }
})

function changeFace(selectedId: DiceId) {
  const newDice = props.dice

  const currentValue = newDice[selectedId.type][selectedId.index]
  const newValue = chooseNextFace(currentValue, selectedId.type)
  newDice[selectedId.type][selectedId.index] = newValue

  function chooseNextFace(currentFace: DieFace, type: DieType) {
    if (currentFace === 'miss') {
      return 'direct-hit'
    } else if (type === 'versatile') {
      return 'miss'
    } else if (currentFace === 'direct-hit') {
      return 'hit'
    } else if (currentFace === 'hit') {
      return 'special'
    } else {
      return 'miss'
    }
  }
}
</script>
