<template>
  <div
    :class="{
      'square': true,
      'mdi': true,
      'mdi-octagram': effect.startsWith('damage'),
      'mdi-heart-plus': effect.startsWith('heal'),
      'light': effect.endsWith('Light'),
      'heavy': effect.endsWith('Heavy'),
      'any': effect.endsWith('Any'),
    }"
  >
    {{ value }}
  </div>
</template>

<style scoped>
div {
  width: calc(var(--size-icon) * 1.5);
}
.light {
  background-color: black;
}
.heavy {
  background-color: darkred;
}
.any {
  background-color: lightgray;
  color: hsl(0deg, 0%, 20%);
}

div.mdi-octagram + div.mdi-octagram,
div.mdi-heart-plus + div.mdi-heart-plus {
  margin-left: 0.5vmin;
  margin-right: 0;
}
div.mdi-octagram + div.mdi-heart-plus {
  margin-left: 2vmin;
  margin-right: 0;
}

.right div.mdi-octagram + div.mdi-octagram,
.right div.mdi-heart-plus + div.mdi-heart-plus {
  margin-right: 0.5vmin;
  margin-left: 0;
}
.right div.mdi-octagram + div.mdi-heart-plus {
  margin-right: 2vmin;
  margin-left: 0;
}
</style>

<script setup lang="ts">
import type { DieEffects } from '@/config/dice'

defineProps<{
  effect: keyof DieEffects
  value: number
}>()
</script>
