<script setup lang="ts">
import type { DieEffects } from '@/config/dice'
import DieEffectIcon from './DieEffectIcon.vue'

defineProps<{
  dieEffects: DieEffects
}>()
</script>

<template>
  <div class="row die-effects-box">
    <template v-for="(value, effect) in dieEffects" :key="effect">
      <DieEffectIcon v-if="value" :effect="effect" :value="value" />
    </template>
  </div>
</template>

<style scoped lang="sass">
div.die-effects-box
  padding: 0.7vmin
  justify-content: center
</style>