<template>
  <button
    :class="[
      'die',
      dieFace,
      dieType,
      modelValue ? 'selected' : '',
      assigned ? 'assigned' : '',
      small ? 'small' : '',
    ]"
    @click="$emit('update:modelValue', !modelValue)"
    :disabled="disabled"
  />
</template>

<style scoped>
button.die {
  width: var(--size-icon);
  height: var(--size-icon);
  background-size: 300%;
  box-sizing: border-box;
  margin: 0.2vmin;
  padding: 4px;
  border-width: 3px;
  border-style: inset;
}

button.small {
  width: calc(var(--size-icon) * 0.5);
  height: calc(var(--size-icon) * 0.5);
  border: 0;
}

button.selected {
  padding: 0px;
  border-width: 3px;
  border-style: solid;
}

.assigned {
  opacity: 50%;
}

button.light {
  background-image: url('@/assets/dice/light-die.png');
  border-color: hsl(0deg, 0%, 30%);
}
button.light:hover:not(:disabled) {
  border-color: hsl(0deg, 0%, 40%);
}
button.light.selected {
  border-color: hsl(0deg, 0%, 50%);
}

button.heavy {
  background-image: url('@/assets/dice/heavy-die.jpg');
  border-color: hsl(0deg, 100%, 30%);
}
button.heavy:hover:not(:disabled):not(.selected) {
  border-color: hsl(0deg, 100%, 40%);
}
button.heavy.selected {
  border-color: hsl(0deg, 100%, 50%);
}

button.versatile {
  background-image: url('@/assets/dice/versatile-die.jpg');
  border-color: hsl(120deg, 100%, 30%);
}
button.versatile:hover:not(:disabled):not(.selected) {
  border-color: hsl(120deg, 100%, 40%);
}
button.versatile.selected {
  border-color: hsl(120deg, 100%, 50%);
}

.light.direct-hit,
.heavy.direct-hit,
.versatile.direct-hit {
  background-position: bottom left;
}
.light.hit,
.heavy.hit {
  background-position: bottom center;
}
.light.special,
.heavy.special {
  background-position: bottom right;
}
</style>

<script setup lang="ts">
import type { DieFace, DieType } from '@/config/dice'

defineProps<{
  dieType: DieType
  dieFace: DieFace
  assigned?: boolean
  modelValue?: boolean
  disabled?: boolean
  small?: boolean
}>()

defineEmits<{
  (e: 'update:modelValue', value: boolean): void
}>()
</script>
