<script setup lang="ts">
import { useFightStore } from '@/stores/fight'
import { ref } from 'vue';
import { useI18n } from 'vue-i18n';
import PanelHeader from './PanelHeader.vue'
import PanelHelp from './PanelHelp.vue'

const fightStore = useFightStore()
const { t } = useI18n()
const helpPanelOpen = ref(false)
</script>

<template>
  <main>
    <PanelHeader v-model:helpOpened="helpPanelOpen"/>
    
    <h1 class="phase-short-guides a">{{ t('phaseShortGuides.initial') }}</h1>
    <h2 :class="['title-a', fightStore.factionA]"><img :alt="fightStore.factionA" /></h2>
    <slot :faction="fightStore.factionA" :faction-state="fightStore[fightStore.factionA]" side="a" />
    <PanelHelp class="a">
      <slot name="help-panel" :faction="fightStore.factionA"/>
    </PanelHelp>
    
    <h1 class="phase-short-guides b">{{ t('phaseShortGuides.initial') }}</h1>
    <h2 :class="['title-b', fightStore.factionB]"><img :alt="fightStore.factionB" /></h2>
    <slot :faction="fightStore.factionB" :faction-state="fightStore[fightStore.factionB]" side="b" />
    <PanelHelp class="b">
      <slot name="help-panel" :faction="fightStore.factionB"/>
    </PanelHelp>
  </main>
</template>

<style scoped lang="scss">
main {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;

  grid:
    'title-a header  header  title-b' min-content
    'phase-a phase-a phase-b phase-b' min-content
    [help-start-a help-start-b]
    'space-a space-a space-b space-b' min-content
    'tacts-a tacts-a tacts-b tacts-b' min-content
    'xxxxxxx xxxxxxx xxxxxxx xxxxxxx' 1fr
    'tactg-a tactg-a tactg-b tactg-b' min-content
    'groun-a groun-a groun-b groun-b' min-content
    'actcd-a actcd-a actcd-b actcd-b' min-content
    'actio-a actio-a actio-b actio-b' min-content
    [help-end-a help-end-b]
    / [help-start-a] 1fr min-content [help-end-a help-start-b] min-content 1fr [help-end-b];

  @media (orientation: portrait) {
    grid:
      [help-end-b]
      'actio-b actio-b actio-b actio-b' min-content
      'actcd-b actcd-b actcd-b actcd-b' min-content
      'tacts-b tacts-b tactg-b tactg-b' min-content
      'space-b space-b groun-b groun-b' 1fr
      [help-start-b]
      'phase-a phase-a phase-a phase-a' min-content
      'title-b header  header  title-a' min-content
      'phase-b phase-b phase-b phase-b' min-content
      [help-start-a]
      'space-a space-a groun-a groun-a' 1fr
      'tacts-a tacts-a tactg-a tactg-a' min-content
      'actcd-a actcd-a actcd-a actcd-a' min-content
      'actio-a actio-a actio-a actio-a' min-content
      [help-end-a]
      / [help-start-a help-start-b] 1fr min-content min-content 1fr [help-end-a help-end-b];
  }
}

.phase-short-guides.a {
  grid-area: phase-a;
}

.phase-short-guides.b {
  grid-area: phase-b;
  @media (orientation: landscape) {
    text-align: right;
  }
}

.title-a, .title-b {
  img {
    vertical-align: middle;
  }

  padding: 0.2vh;
  @media (orientation: portrait) {
    border-top: 1px solid hsla(0deg, 0%, 100%, 80%);
  }
}

.title-a {
  grid-area: title-a;
}
.title-b {
  grid-area: title-b;
  
  @media (orientation: portrait) {
    transform: rotate(-180deg);
  }
}

.empire img {
  content: url('@/assets/empire.png');
  width: var(--size-icon);
  max-width: var(--size-icon);
  filter: invert(100%);
}

.rebel img {
  content: url('@/assets/rebel.png');
  width: var(--size-icon);
  max-width: var(--size-icon);
  filter: invert(28%) sepia(34%) saturate(4466%) hue-rotate(343deg) brightness(85%) contrast(107%);
}

h2 {
  width: 100%;
  text-align: center;
}
</style>
