<script setup lang="ts">
import type { Theatre } from '@/config/ships'
import { isBattleRoundStatus, isTacticStatus, useFightStore, type TheatreState } from '@/stores/fight'
import { computed } from 'vue'
import TheatreRowContol from './TheatreRowContol.vue'
import PanelHeader from './PanelHeader.vue'
import PanelHelp from './PanelHelp.vue'

const fightStore = useFightStore()
const activeFaction = computed(
  () => isBattleRoundStatus(fightStore.status) && fightStore.status.active
)
const passiveFaction = computed(
  () => isBattleRoundStatus(fightStore.status) && fightStore.status.passive
)
const activeSide = computed(
  () => fightStore.factionA === activeFaction.value ? 'a' : 'b'
)
const passiveSide = computed(
  () => fightStore.factionA === passiveFaction.value ? 'a' : 'b'
)
const activeTheatre = computed(
  () => (isBattleRoundStatus(fightStore.status) || isTacticStatus(fightStore.status))
    ? fightStore.status.theatre 
    : ''
)

function slotName(side: 'a' | 'b', theatre: Theatre) {
  if (activeTheatre.value !== theatre)
    return 'default'
  if (!activeFaction.value)
    return 'active'  
  return activeSide.value === side
    ? 'active'
    : 'passive'
}

const unitCount = computed(() => {
  return count(fightStore.empire.space)
    + count(fightStore.empire.ground)
    + count(fightStore.rebel.space)
    + count(fightStore.rebel.ground)

  function count(state: TheatreState) {
    return Object.values(state)
      .filter(unit => unit.count > 0)
      .length
  }
})
</script>

<template>
  <main :class="{ many: unitCount > 15 }">
    <PanelHeader />

    <h2 class="title-a"><img :class="fightStore.factionA" :alt="fightStore.factionA" /></h2>

    <div class="theatre-row space a">
      <slot :name="slotName('a', 'space')" :faction="fightStore.factionA" :theatre="('space' as Theatre)">
        <TheatreRowContol :faction="fightStore.factionA" theatre="space"/>
      </slot>
    </div>

    <div class="theatre-row ground a">
      <slot :name="slotName('a', 'ground')" :faction="fightStore.factionA" :theatre="('ground' as Theatre)">
        <TheatreRowContol :faction="fightStore.factionA" theatre="ground"/>
      </slot>
    </div>

    <h2 class="title-b"><img :class="fightStore.factionB" :alt="fightStore.factionB" /></h2>

    <div class="theatre-row space b right">
      <slot :name="slotName('b', 'space')" :faction="fightStore.factionB" :theatre="('space' as Theatre)">
        <TheatreRowContol :faction="fightStore.factionB" theatre="space"/>
      </slot>
    </div>

    <div class="theatre-row ground b right">
      <slot :name="slotName('b', 'ground')" :faction="fightStore.factionB" :theatre="('ground' as Theatre)">
        <TheatreRowContol :faction="fightStore.factionB" theatre="ground"/>
      </slot>
    </div>

    <template v-if="$slots['common-controls']">
      <div :class="[
        'action-controls', 
        'active', 
        activeTheatre, 
        'a', 
      ]">
        <slot name="common-controls" :faction="fightStore.factionA"/>
      </div>
      <div :class="[
        'action-controls', 
        'active', 
        activeTheatre, 
        'b', 
        'right'
      ]">
        <slot name="common-controls" :faction="fightStore.factionB"/>
      </div>
    </template>
    <template v-if="$slots['common-help']">
      <PanelHelp :class="[activeTheatre, 'a']" small>
        <slot 
          name="common-help" 
          :faction="fightStore.factionA"
        :faction-state="fightStore[fightStore.factionA]"
        />
      </PanelHelp>
      <PanelHelp :class="[activeTheatre, 'b']" small>
        <slot 
          name="common-help" 
          :faction="fightStore.factionB"
        :faction-state="fightStore[fightStore.factionB]"
        />
      </PanelHelp>
    </template>

    <div 
      v-if="$slots['active-controls'] && activeFaction"
      :class="[
        'action-controls', 
        'active', 
        activeTheatre, 
        activeSide, 
        activeSide === 'b' ? 'right' : ''
      ]"
    >
      <slot name="active-controls"
        :faction="activeFaction"
        :faction-state="fightStore[activeFaction]"
      />
    </div>
    <template v-if="$slots['active-help'] && activeFaction">
      <PanelHelp :class="[activeTheatre, activeSide]" small>
        <slot 
          name="active-help"
          :faction="activeFaction"
          :faction-state="fightStore[activeFaction]"
        />
      </PanelHelp>
    </template>

    <div 
      v-if="$slots['passive-controls'] && passiveFaction"
      :class="[
        'action-controls',
        'passive',
        activeTheatre,
        passiveSide,
        passiveSide === 'b' ? 'right' : ''
      ]"
    >
      <slot name="passive-controls"
        :faction="passiveFaction"
        :faction-state="fightStore[passiveFaction]"
      />
    </div>
    <template v-if="$slots['passive-help'] && passiveFaction">
      <PanelHelp :class="[activeTheatre, passiveSide]" small>
        <slot 
          name="passive-help"
          :faction="passiveFaction"
          :faction-state="fightStore[passiveFaction]"
        />
      </PanelHelp>
    </template>
  </main>
</template>

<style scoped lang="scss">
main {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  place-items: center;

  // Space help panels covers ground theatres
  // Ground help panels covers space theatres
  grid:
    'title-a header  header  title-b' min-content
    [help-start-ground-a help-start-ground-b]
    'space-a space-a space-b space-b' 1fr
    [help-end-ground-a help-end-ground-b]
    'ctrls-a ctrls-a ctrls-b ctrls-b' 18.3vmin
    [help-start-space-a help-start-space-b]
    'groun-a groun-a groun-b groun-b' 1fr
    [help-end-space-a help-end-space-b]
    / [help-start-space-a help-start-ground-a] 
      1fr min-content 
      [help-end-space-a help-end-ground-a help-start-space-b help-start-ground-b]
      min-content 1fr 
      [help-end-space-b help-end-ground-b];

  @media (orientation: portrait) {
    grid:
      [help-end-ground-b]
      'space-b space-b space-b' 1fr
      [help-start-ground-b]
      'ctrls-b ctrls-b ctrls-b' 18.3vmin
      [help-end-space-b]
      'groun-b groun-b groun-b' 1fr
      [help-start-space-b]
      'title-b header  title-a' min-content
      [help-start-space-a]
      'groun-a groun-a groun-a' 1fr
      [help-end-space-a]
      'ctrls-a ctrls-a ctrls-a' 18.3vmin
      [help-start-ground-a]
      'space-a space-a space-a' 1fr
      [help-end-ground-a]
      / [help-start-space-a help-start-ground-a help-start-space-b help-start-ground-b] 
        1fr min-content 1fr
        [help-end-space-a help-end-ground-a help-end-space-b help-end-ground-b];
  }
}

.title-a, .title-b {
  img {
    vertical-align: middle;
  }

  @media (orientation: portrait) {
    border-top: 1px solid hsla(0deg, 0%, 100%, 80%);
    padding: 0.2vh;
  }
}

.title-a {
  grid-area: title-a;
}
.title-b {
  grid-area: title-b;
  
  @media (orientation: portrait) {
    transform: rotate(-180deg);
  }
}

.action-controls {
  margin: 0vmin 1vmin;
  &.a {
    grid-area: ctrls-a;
  }
  &.b {
    grid-area: ctrls-b;
  
    @media (orientation: portrait) {
      transform: rotate(-180deg);
    }
  }

  @media (orientation: landscape) and (max-aspect-ratio: 16/10) {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.theatre-row {
  display: flex;
  flex-flow: row wrap;
  margin: 0vmin 1vmin;
  place-content: center;

  &.b {
    flex-direction: row-reverse;
    @media (orientation: portrait) {
      transform: rotate(-180deg);
    }
  }

  &.space.a {
    grid-area: space-a;
  }
  &.space.b {
    grid-area: space-b;
  }
  &.ground.a {
    grid-area: groun-a;
  }
  &.ground.b {
    grid-area: groun-b;
  }
}

.panel-a {
  grid-area: panel-a;
}
.panel-b {
  grid-area: panel-b;
}

img.empire {
  content: url('@/assets/empire.png');
  width: var(--size-icon);
  max-width: var(--size-icon);
  filter: invert(100%);
}

img.rebel {
  content: url('@/assets/rebel.png');
  width: var(--size-icon);
  max-width: var(--size-icon);
  filter: invert(28%) sepia(34%) saturate(4466%) hue-rotate(343deg) brightness(85%) contrast(107%);
}

h2 {
  width: 100%;
  text-align: center;
}
</style>