<template>
  <Svg class="explosion" width="" height=""></Svg>
</template>

<style>
svg.explosion path {
  fill: white;
}
</style>

<script setup lang="ts">
import Svg from '@/assets/explosion.svg'
</script>