<script setup lang="ts">
import { useFightStore } from '@/stores/fight'
import { ref, watchEffect } from 'vue';
import { useI18n } from 'vue-i18n';

defineProps<{
  small?: boolean
}>()

const fightStore = useFightStore()
const { t } = useI18n()
const helpPanelOpen = ref(false)
watchEffect(() => helpPanelOpen.value = fightStore.tutorialMode)
</script>

<template>
  <div :class="{ 'help-panel': true, 'small': !!small }" v-if="helpPanelOpen">
    <div class="help-content">
      <slot/>
    </div>
    <button 
      v-if="small"
      class="close-icon mdi mdi-close-circle-outline" 
       @click="helpPanelOpen = false"
    />
    <div class="buttons" v-else>
      <button class="action glossy main" @click="helpPanelOpen = false">
        {{ t('phaseGuides.closeAction') }}
      </button>
      <button class="action glossy main" @click="fightStore.tutorialMode = false">
        {{ t('phaseGuides.stopAction') }}
      </button>
    </div>
  </div>
</template>

<style scoped lang="sass">
.help-panel 
  display: flex
  flex-direction: column

  &.a 
    grid-area: help-start-a / help-start-a / help-end-a / help-end-a
    &.space
      grid-area: help-start-space-a / help-start-space-a / help-end-space-a / help-end-space-a
    &.ground
      grid-area: help-start-ground-a / help-start-ground-a / help-end-ground-a / help-end-ground-a
  &.b
    @media (orientation: portrait) 
      transform: rotate(-180deg)
    grid-area: help-start-b / help-start-b / help-end-b / help-end-b
    &.space
      grid-area: help-start-space-b / help-start-space-b / help-end-space-b / help-end-space-b
    &.ground
      grid-area: help-start-ground-b / help-start-ground-b / help-end-ground-b / help-end-ground-b
  
.help-content
  flex: 1

.buttons
  margin-top: auto
  display: flex
  .b &
    flex-direction: row-reverse

button.mdi.close-icon
  position: absolute
  font-size: 4vmin
  line-height: 4vmin
  width: 4vmin
  height: 4vmin
  top: calc(0.3vmin - 2vmin) // adding border
  right: calc(0.3vmin - 2vmin) // adding border
  background: black
  border-radius: 100%

  color: white
  padding: 0.05vmin
  border: 0
  transition: color 0.25s

  &:hover
    color: hsla(0deg, 0%, 70%, 1)

</style>
