<script setup lang="ts">
import { useFightStore } from '@/stores/fight'
import { useI18n } from 'vue-i18n'

const fightStore = useFightStore()
const { locale } = useI18n({
  useScope: "global"
})

function changeLocale() {
  locale.value = locale.value ===  'en'
    ? 'fr-FR'
    : 'en'
}

function toggleTutorial() {
  fightStore.tutorialMode = !fightStore.tutorialMode
}
</script>

<template>
  <header>
    <button class="swap" @click="() => fightStore.swap()" />
    <button class="mdi mdi-translate" @click="changeLocale" />
    <button class="mdi mdi-new-box" @click="() => fightStore.startNewFight()" />
    <button 
      :class="{ 
        'mdi': true,
        'mdi-help-box': true,
        'active': fightStore.tutorialMode
      }" 
      @click="toggleTutorial"
    />
  </header>
</template>

<style scoped lang="sass">

header
  grid-area: header
  display: flex
  width: 100%
  place-items: center
  justify-content: center

  button
    background: none
    border: 0
    padding: 0

    font-size: var(--size-icon)
    line-height: var(--size-icon)
    color: hsla(0deg, 0%, 90%)
    cursor: pointer
    transition: color 0.2s
    &:hover
      color: hsla(0deg, 0%, 70%)
    &.active
      color: hsla(130deg, 100%, 50%)
      &:hover
        color: hsla(130deg, 100%, 30%)

  @media (orientation: portrait)
    border: 1px solid hsla(0deg, 0%, 100%, 80%)
</style>