<template>
  <button class="icon" @click="$emit('update:modelValue', !modelValue)">
    <div :class="['cross', 'mdi', 'mdi-cancel', modelValue ? 'active' : '']" />
  </button>
</template>

<style scoped>
.icon {
  margin: 0.3rem;
  width: var(--size-icon);
  height: var(--size-icon);
  background-size: 300%;

  background-image: linear-gradient(black, black),
    url('@/assets/dice/heavy-die.jpg');
  background-position: bottom right;
  background-blend-mode: saturation, lighten;
  background-color: hsl(0deg, 0%, 56%);
  border: 0;
  padding: 0;
}

.icon .cross {
  opacity: 0%;
  transition: opacity 0.25s;
}

.icon .cross.active {
  opacity: 100%;
}
</style>

<script setup lang="ts">
defineProps<{
  modelValue: boolean
}>()

defineEmits<{
  (e: 'update:modelValue', value: boolean): void
}>()
</script>
