<template>
  <div
    :class="{
      'prevent-picker': true,
      'black-hit': type === 'damageLight',
      'red-hit': type === 'damageHeavy',
      'direct-hit': type === 'damageAny',
    }"
  >
    <IconPrevent :type="type" />
    <CountPicker :max="max" v-model="value" />
  </div>
</template>

<style scoped>
.prevent-picker {
  margin: 0.3rem;
  display: flex;
  flex-direction: row;
}
.prevent-picker.black-hit {
  background-color: black;
}
.prevent-picker.red-hit {
  background-color: darkred;
}
.prevent-picker.direct-hit {
  background-color: gray;
}

.right div {
  flex-direction: row-reverse;
}
</style>

<script setup lang="ts">
import CountPicker from './CountPicker.vue'
import { computed } from 'vue'
import IconPrevent from './icons/IconPrevent.vue'

const props = defineProps<{
  modelValue: number
  type: 'damageLight' | 'damageHeavy' | 'damageAny'
}>()

const emit = defineEmits<{
  (e: 'update:modelValue', value: number): void
}>()

const maxPerType = {
  damageLight: 2,
  damageHeavy: 4,
  damageAny: 1,
}

const max = computed(() => maxPerType[props.type])

const value = computed({
  get() {
    return props.modelValue
  },
  set(value: number) {
    emit('update:modelValue', value)
  },
})
</script>
