<template>
  <button
    :class="['icon', icon, modelValue ? 'enabled' : '']"
    @click="$emit('update:modelValue', !modelValue)"
  />
</template>

<style scoped>
.icon {
  margin: 0.3rem;
  width: var(--size-icon);
  height: var(--size-icon);
  background-size: var(--size-icon) var(--size-icon);
  border: 0;
  padding: 0;
  filter: invert(1) brightness(2);
  mix-blend-mode: screen;
  border-radius: 1vmin;
}

.nebulon-b-frigate {
  background-image: url('@/assets/rebel-units/nebulon-b-frigate.png');
}
.shield-generator {
  background-image: url('@/assets/rebel-units/shield-generator.png');
}
.shield-bunker {
  background-image: url('@/assets/empire-units/shield-bunker.png');
}

.icon:not(.enabled) {
  opacity: 30%;
  filter: invert(1) brightness(2) grayscale(1);
}
</style>

<script setup lang="ts">
import { computed } from 'vue'
import type { Faction, Theatre } from '@/config/ships'

const props = defineProps<{
  modelValue: boolean
  faction: Faction
  theatre: Theatre
}>()

defineEmits<{
  (e: 'update:modelValue', value: boolean): void
}>()

const icon = computed(() => {
  if (props.faction === 'rebel') {
    return props.theatre === 'space' ? 'nebulon-b-frigate' : 'shield-generator'
  } else {
    return 'shield-bunker'
  }
})
</script>
