<template>
  <button
    :class="{ glossy: true, picker: true, active: modelValue }"
    @click="$emit('update:modelValue', !modelValue)"
  >
    <slot />
  </button>
</template>

<script setup lang="ts">
defineProps<{
  modelValue: boolean
}>()

defineEmits<{
  (e: 'update:modelValue', value: boolean): void
}>()
</script>
