<template>
  <div v-if="status">
    <PreventPicker type="damageLight" v-model="damageLight" />
    <PreventPicker type="damageHeavy" v-model="damageHeavy" />
    <PreventPicker type="damageAny" v-model="damageAny" />
    <PreventHealingToggle v-model="heal" />
    <RemoveDamagePicker
      v-model="removeDamage"
      :faction="faction"
      :theatre="status.theatre"
    />
  </div>
</template>

<style scoped>
div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.right div {
  flex-direction: row-reverse;
}
</style>

<script setup lang="ts">
import type { Faction } from '@/config/ships'
import { isTacticStatus, useFightStore } from '@/stores/fight'
import { computed } from 'vue'
import PreventPicker from './PreventPicker.vue'
import PreventHealingToggle from './PreventHealingToggle.vue'
import RemoveDamagePicker from './RemoveDamagePicker.vue'
import type { DieEffects } from '@/config/dice'

const props = defineProps<{
  faction: Faction
}>()

const fightStore = useFightStore()
const status = computed(() =>
  isTacticStatus(fightStore.status) ? fightStore.status : null
)

const tactic = computed(() => status.value?.tactics[props.faction])
function computedAlias(key: keyof DieEffects) {
  return computed({
    get: () => tactic.value?.[key] || 0,
    set: (value) => {
      if (tactic.value) {
        tactic.value[key] = value
      }
    },
  })
}
const damageLight = computedAlias('damageLight')
const damageHeavy = computedAlias('damageHeavy')
const damageAny = computedAlias('damageAny')
const heal = computed({
  get: () =>
    (tactic.value?.healLight || 0) + (tactic.value?.healHeavy || 0) > 0,
  set: (value) => {
    if (tactic.value) {
      tactic.value.healLight = tactic.value.healHeavy = value ? 1000 : 0
    }
  },
})

const removeDamage = computed({
  get: () => tactic.value?.removeDamage || false,
  set: (value) => {
    if (tactic.value) {
      tactic.value.removeDamage = value
    }
  },
})
</script>
