<template>
  <div
    :class="{
      'picker-row': true,
      'count-picker': true,
      'space': theatre === 'space',
      'ground': theatre === 'ground',
    }"
  >
    <div v-if="theatre === 'space'" class="square mdi mdi-star-four-points" />
    <div v-else class="square mdi mdi-earth" />
    <div class="row">
      <CountPicker :max="max" v-model="value" />
    </div>
  </div>
</template>

<style scoped>
.count-picker {
  flex-wrap: nowrap;
}
</style>

<script setup lang="ts">
import CountPicker from './CountPicker.vue'
import { computed } from 'vue'

const props = defineProps<{
  max: number
  modelValue: number
  theatre: 'space' | 'ground'
}>()

const emit = defineEmits<{
  (e: 'update:modelValue', value: number): void
}>()

const value = computed({
  get() {
    return props.modelValue
  },
  set(value: number) {
    emit('update:modelValue', value)
  },
})
</script>
