<script setup lang="ts">
import type { Faction, Theatre } from '@/config/ships'
import { useFightStore, type VulnerableUnitState } from '@/stores/fight'
import { computed } from '@vue/reactivity';
import UnitTacticControl from './UnitTacticControl.vue'

const props = defineProps<{
  faction: Faction
  theatre: Theatre
  mode?: 'damage' | 'heal' | 'tactic'
}>()

defineEmits<{
  (
    e: 'damageUndo',
    target: { unitId: string; unit: VulnerableUnitState; faction: Faction }
  ): void
  (
    e: 'damage',
    target: { unitId: string; unit: VulnerableUnitState; faction: Faction }
  ): void
}>()

const fightStore = useFightStore()
const theatreState = computed(() => fightStore[props.faction][props.theatre])
</script>

<template>
  <template v-for="(unit, id) in theatreState" :key="id">
    <UnitTacticControl
      v-if="unit.count > 0"
      :faction="faction"
      :theatre="theatre"
      :unit-id="(id as string)"
      :unit="unit"
      @damage-undo="(target) => $emit('damageUndo', target)"
      @damage="(target) => $emit('damage', target)"
      :mode="mode"
    />
  </template>
</template>
