<template>
  <div :class="['picker-row', 'count-picker']">
    <UnitIcon class="icon" :faction="faction" :theatre="theatre" :unit-id="unitId" />
    <div class="row">
      <CountPicker :max="max" v-model="value" />
    </div>
  </div>
</template>

<style scoped lang="sass">
.count-picker
  flex-wrap: nowrap

.icon
  width: var(--size-icon)
  height: var(--size-icon)
</style>

<script setup lang="ts">
import type { Faction, Theatre } from '../config/ships'
import UnitIcon from './UnitIcon.vue'
import CountPicker from './CountPicker.vue'
import { computed } from 'vue'

const props = defineProps<{
  faction: Faction
  theatre: Theatre
  unitId: string
  max: number
  modelValue: number
}>()

const emit = defineEmits<{
  (e: 'update:modelValue', value: number): void
}>()

const value = computed({
  get() {
    return props.modelValue
  },
  set(value: number) {
    emit('update:modelValue', value)
  },
})
</script>
