<template>
  <img :src="iconUrl" :class="{ large, [theatre]: true }" />
</template>

<style scoped>
img {
  --border-radius: 20%;
  filter: invert(1) brightness(2);
  mix-blend-mode: screen;
}

img.space {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
img.ground {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  filter: invert(1) brightness(2) hue-rotate(170deg);
}

img.space, .right img.ground {
  transform: scaleX(-1);
}
img.ground, .right img.space {
  transform: scaleX(1);
}
</style>

<script setup lang="ts">
import { computed } from 'vue'
import type { Faction, Theatre } from '../config/ships'

const props = defineProps<{
  faction: Faction
  theatre: Theatre
  unitId: string
  large?: boolean
}>()

type Module = { default: string }
type Modules = Record<string, Module>

function importImages(modules: Modules) {
  return Object.fromEntries(
    Object.entries(modules).map(([path, module]) => [
      getIdFromPath(path),
      module,
    ])
  )

  function getIdFromPath(path: string) {
    return path.match(/([a-z-]+)\.png/)?.[1] || ''
  }
}

const empireUnits = importImages(
  import.meta.globEager<Module>('../assets/empire-units/*.png')
)
const rebelUnits = importImages(
  import.meta.globEager<Module>('../assets/rebel-units/*.png')
)

const unitBank = computed(() =>
  props.faction === 'empire' ? empireUnits : rebelUnits
)
const iconUrl = computed(() => unitBank.value[props.unitId]?.default || '')
//const iconUrl = computed(() => unitBank.value[props.unitId])
</script>
