<script setup lang="ts">
/* eslint-disable vue/no-mutating-props */
import {
  isVulnerableUnit,
  type UnitState,
  type VulnerableUnitState,
} from '@/stores/fight'
import type { Faction, Theatre } from '../config/ships'
import UnitIcon from './UnitIcon.vue'
import { computed, ref } from 'vue'
import IconExplosion from './IconExplosion.vue'

const props = defineProps<{
  faction: Faction
  theatre: Theatre
  unitId: string
  unit: UnitState
  mode?: 'damage' | 'heal' | 'tactic'
}>()

const emit = defineEmits<{
  (
    e: 'damageUndo',
    target: { unitId: string; unit: VulnerableUnitState; faction: Faction }
  ): void
  (
    e: 'damage',
    target: { unitId: string; unit: VulnerableUnitState; faction: Faction }
  ): void
}>()

const countEditable = computed(() => props.mode === 'tactic')

const toggleDisplayEditControl = ref(false)
const displayEditControl = computed(() => countEditable.value && toggleDisplayEditControl.value)

const vulnerableUnit = computed(() =>
  isVulnerableUnit(props.unit) ? props.unit : null
)

function add() {
  props.unit.destruction--
}

function destroy() {
  props.unit.destruction++
}

function undoDamage() {
  if (vulnerableUnit.value) {
    emit('damageUndo', {
      unitId: props.unitId,
      unit: vulnerableUnit.value,
      faction: props.faction,
    })
  }
}

function damage() {
  if (vulnerableUnit.value) {
    emit('damage', {
      unitId: props.unitId,
      unit: vulnerableUnit.value,
      faction: props.faction,
    })
  }
}
</script>

<template>
  <div :class="['container', vulnerableUnit ? vulnerableUnit.type: 'death-star', theatre]">
    <UnitIcon class="icon" :faction="faction" :theatre="theatre" :unit-id="unitId" large />

    <component
      :is="countEditable ? 'button' : 'div'"
      class="glossy number count-val" 
      @click="toggleDisplayEditControl = !toggleDisplayEditControl"
    >
      {{ unit.count - props.unit.destruction }}
    </component>

    <template v-if="displayEditControl">
      <button 
        class="glossy count-add mdi mdi-plus" 
        @click="add"
      />
      <button 
        class="glossy count-destroy mdi mdi-minus" 
        @click="destroy" 
        :disabled="props.unit.destruction >= props.unit.count"
      />
    </template>
    <template v-else>
      <div v-if="unit.lightDamage" class="number light-damage">
        {{ unit.lightDamage }}
      </div>
      <div v-if="unit.heavyDamage" class="number heavy-damage">
        {{ unit.heavyDamage }}
      </div>
      <div v-if="unit.versatileDamage" class="number versatile-damage">
        {{ unit.versatileDamage }}
      </div>
    </template>

    <template v-if="vulnerableUnit">
      <component
        :is="!props.mode ? 'div' : 'button'"
        :class="{
          'glossy': true, 
          'damage-val': true, 
          [vulnerableUnit.type]: true, 
          'no-damage': !vulnerableUnit.damage
        }" 
        @click="damage"
      >
        <IconExplosion v-if="props.mode !== 'heal'" class="damage-action-icon"/>
        <div v-else class="mdi mdi-heart-plus damage-action-icon"/>
        <div class = "number value" v-if="vulnerableUnit.damage">
          {{ vulnerableUnit.damage }}
        </div>
        &nbsp;
      </component>
      <button :class="[
        'glossy', 
        'damage-undo', 
        vulnerableUnit.type,
        'mdi',
        props.mode === 'tactic' ? 'mdi-heart-plus' : 'mdi-undo'
        ]" 
        v-if="props.mode && vulnerableUnit.damage > 0"
        @click="undoDamage"/>
      <div :class="['number', 'health-val', vulnerableUnit.type]">
        {{ vulnerableUnit.maxHealth }}
      </div>
    </template>
  </div>
</template>

<style scoped lang="scss">
.container {
  align-self: flex-start;
  --border-radius: 3vmin;

  margin: 0.5vmin;
  border-radius: var(--border-radius) 0 0 var(--border-radius);

  &.space {
    background-color: var(--color-space-faint);
  }
  &.ground {
    background-color: var(--color-ground-faint);
  }

  display: grid;
  align-items: center;

  --block-size: 4.3vmin;

  place-items: stretch;

  grid:
    [vers-start]
    'icon atkl count damge dundo' var(--block-size)
    'icon atkh count damge healt' var(--block-size)
    [vers-end]
    / calc(var(--block-size) * 2)
      [vers-start] 
      var(--block-size)
      [vers-end] 
      calc(var(--block-size) * 2)
      calc(var(--block-size) * 2)
      var(--block-size);
  
  @media (orientation: portrait) {
    --block-size: 5vmin;
    .many & {
      --block-size: 3.6vmin;
    }
  }
  .right & {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    grid:
      [vers-start]
      'dundo damge count atkl icon' var(--block-size)
      'healt damge count atkh icon' var(--block-size)
      [vers-end]
      / var(--block-size)
        calc(var(--block-size) * 2)
        calc(var(--block-size) * 2)
        [vers-start] 
        var(--block-size)
        [vers-end] 
        calc(var(--block-size) * 2);
  }
  
  .number {
    font-weight: bold;
    text-align: center;
    line-height: var(--block-size);
    font-size: calc(var(--block-size) * 0.7);
  }

  button.number {
    font-size: calc(var(--block-size) * 0.7 - 4px);
    line-height: calc(var(--block-size) - 4px);
  }
}

.icon {
  grid-area: icon;
  & .icon {
    background-color: red;
  }
}

.number.light-damage {
  grid-area: atkl;
  background-image: url('@/assets/stats/damage-light.png');
  background-size: contain;
  font-size: calc(var(--block-size) * 0.5);
}

.number.versatile-damage {
  grid-area: vers-start / vers-start / vers-end / vers-end;
  background-image: url('@/assets/stats/damage-versatile.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-size: calc(var(--block-size) * 0.5);
  align-self: center;
}

.number.heavy-damage {
  grid-area: atkh;
  background-image: url('@/assets/stats/damage-heavy.png');
  background-size: contain;
  font-size: calc(var(--block-size) * 0.5);
}

.number.count-val, .number.value {
  --block-size: 9vmin;
  
  @media (orientation: portrait) {
    --block-size: 10vmin;
    .many & {
      --block-size: 7.2vmin;
    }
  }

}

.number.count-val {
  grid-area: count;
  color: white;
}

.damage-val {
  grid-area: damge;
  position: relative;
}

.number.value {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: red;

  text-shadow:
   -1px -1px 0 hsl(0deg, 100%, 20%),  
    1px -1px 0 hsl(0deg, 100%, 20%),
   -1px  1px 0 hsl(0deg, 100%, 20%),
    1px  1px 0 hsl(0deg, 100%, 20%);
}

.damage-action-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.damage-action-icon.mdi {
  font-size: calc(var(--block-size) * 1.8);
  line-height: calc(var(--block-size) * 1.8);
}

.no-damage .damage-action-icon{
  opacity: 40%;
}

.damage-undo {
  grid-area: dundo;
}

.health-val {
  grid-area: healt;
  background-size: contain;
  font-size: calc(var(--block-size) * 0.5);

  &.light {
  background-image: url('@/assets/stats/health-light.png');
  }

  &.heavy {
    background-image: url('@/assets/stats/health-heavy.png');
  }
}

.count-add {
  grid-area: atkl;
}

.count-destroy {
  grid-area: atkh;
}

.damage-add {
  grid-area: damage-add;
}

.damage-rem {
  grid-area: damage-rem;
}
</style>
