@use '@mdi/font/css/materialdesignicons.min.css'
@use '@/assets/buttons.sass'
@import '@mdi/font/scss/_variables.scss'
@import '@mdi/font/scss/_core.scss'
@import '@mdi/font/scss/_functions.scss'

/* semantic color variables for this project */
:root
  --color-text: white
  --color-background: hsl(0deg, 0%, 0%)

  --size-icon: 4.3vmin
  --color-space: darkblue
  --color-space-faint: hsla(240, 100%, 15%, 40%)
  --color-ground: darkgoldenrod
  --color-ground-faint: hsla(43, 100%, 20%, 40%)

*,
*::before,
*::after
  box-sizing: border-box
  margin: 0
  position: relative
  font-weight: normal

body
  min-height: 100vh
  color: var(--color-text)
  background: var(--color-background)
  transition: color 0.5s, background-color 0.5s
  line-height: 1.6
  font-family: "Bahnschrift", sans-serif
  font-size: 15px
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background-image: url("@/assets/backgrounds/planet-2.jpg")
  background-size: cover
  background-repeat: no-repeat
  overscroll-behavior: none

  @media (orientation: portrait)
    background-image: url("@/assets/backgrounds/planet-3.jpg")
    background-size: contain
    background-position: center

.phase-short-guides
  font-size: 2.5vmin
  padding: 0 0.8vmin 
  text-align: center

.help-panel
  z-index: 1
  margin: 1.5vmin
  padding: 1vmin
  border: 0.3vmin solid hsla(0deg, 0%, 100%, 100%)
  border-radius: 2vmin
  background: hsla(0deg, 0%, 0%, 80%)
  vertical-align: middle

  p
    font-size: 2vmin
    padding: 1vmin

  &.small p
    font-size: 2vmin
    padding: 0.25vmin 0.5vmin

  .icon
    --size-icon: 2vmin
    margin: 0
    vertical-align: middle

  svg, .mdi
    vertical-align: middle

  svg 
    width: 2.5vmin
    height: 2.5vmin
    padding: 0.2vmin
    box-sizing: content-box

  .mdi 
    padding: 0.5vmin 0.2vmin 0.2vmin 0.2vmin
    box-sizing: content-box

.swap
  border: 1px
  @extend .mdi

@media (orientation: landscape)
  .swap::before
    content: mdi("swap-horizontal-bold")
  
@media (orientation: portrait)
  .swap::before
    content: mdi("swap-vertical-bold")
