button
  font-family: "Bahnschrift", sans-serif

.number
  padding-top: 1.8%

button.glossy
  color: white
  background-color: hsla(0deg, 0%, 40%, 0.1)
  border-color: hsla(0deg, 0%, 40%, 0.4)
  transition: border 0.25s, background-color 0.25s, opacity 0.25s

  &:disabled
    opacity: 40%

  &.mdi, & .mdi
    font-size: calc(var(--size-icon) * 0.7 - 4px)
    line-height: calc(var(--size-icon) * 0.7 - 4px)
    text-align: center

  &.mdi.main
    font-size: calc(var(--size-icon) * 0.9)
    line-height: calc(var(--size-icon) * 0.9)

  &.mdi.double
    display: block
    margin: 0
    height: calc(var(--size-icon) * 2.4)
    width: calc(var(--size-icon) * 2.4)
    font-size: calc(var(--size-icon) * 2)
    line-height: calc(var(--size-icon) * 2.2)
    box-sizing: border-box

  &.mdi.secondary
    color: rgba(255, 255, 255, 0.5)

  &:hover:not(:disabled):not(.active)
    background-color: hsla(0deg, 0%, 60%, 0.2)
    border-color: hsla(0deg, 0%, 60%, 0.5)

  &.active
    background-color: hsla(0deg, 0%, 60%, 0.5)
    border-color: hsla(0deg, 0%, 60%, 0.9)


  .space &
    background-color: hsla(240deg, 100%, 45%, 0.2)
    border-color: hsla(240deg, 100%, 45%, 0.4)

    &:hover:not(:disabled):not(.active)
      background-color: hsla(240deg, 100%, 60%, 0.2)
      border-color: hsla(240deg, 100%, 60%, 0.5)

    &.active
      background-color: hsla(240deg, 100%, 60%, 0.5)
      border-color: hsla(240deg, 100%, 60%, 0.9)

  .ground &
    background-color: hsla(035deg, 100%, 45%, 0.1)
    border-color: hsla(035deg, 100%, 45%, 0.3)

    &:hover:not(:disabled):not(.active)
      background-color: hsla(035deg, 100%, 60%, 0.2)
      border-color: hsla(035deg, 100%, 60%, 0.5)

    &.active
      background-color: hsla(035deg, 100%, 60%, 0.5)
      border-color: hsla(035deg, 100%, 60%, 0.9)

  .black-hit &
    background-color: hsla(0deg, 0%, 50%, 0)
    border-color: hsla(0deg, 0%, 50%, 0.3)

    &:hover:not(:disabled):not(.active)
      background-color: hsla(0deg, 0%, 50%, 0.1)
      border-color: hsla(0deg, 0%, 50%, 0.5)

    &.active
      background-color: hsla(0deg, 0%, 50%, 0.3)
      border-color: hsla(0deg, 0%, 50%, 0.7)

  .red-hit &
    background-color: hsla(0deg, 100%, 60%, 0)
    border-color: hsla(0deg, 100%, 60%, 0.2)

    &:hover:not(:disabled):not(.active)
      background-color: hsla(0deg, 100%, 60%, 0.2)
      border-color: hsla(0deg, 100%, 60%, 0.6)

    &.active
      background-color: hsla(0deg, 100%, 60%, 0.4)
      border-color: hsla(0deg, 100%, 60%, 0.8)

  .direct-hit &
    background-color: hsla(0deg, 0%, 100%, 0)
    border-color: hsla(0deg, 0%, 100%, 0.3)

    &:hover:not(:disabled):not(.active)
      background-color: hsla(0deg, 0%, 100%, 0.2)
      border-color: hsla(0deg, 0%, 100%, 0.6)

    &.active
      background-color: hsla(0deg, 0%, 100%, 0.4)
      border-color: hsla(0deg, 0%, 100%, 0.8)

  &.damage-val.light, &.damage-undo.light
    background-color: hsl(0deg, 0%, 0%)
    border-color: hsla(0deg, 0%, 15%)

    &:hover:not(:disabled):not(.active)
      background-color: hsl(0deg, 0%, 05%)
      border-color: hsl(0deg, 0%, 25%)

    &.active
      background-color: hsl(0deg, 0%, 15%)
      border-color: hsl(0deg, 0%, 35%)

  &.damage-val.heavy, &.damage-undo.heavy
    background-color: hsl(0deg, 63%, 16%)
    border-color: hsl(0deg, 88%, 20%)

    &:hover:not(:disabled):not(.active)
      background-color: hsl(357deg, 63%, 20%)
      border-color: hsl(0deg, 88%, 30%)

    &.active
      background-color: hsl(357deg, 63%, 25%)
      border-color: hsl(0deg, 88%, 35%)

button.picker 
  height: var(--size-icon)
  margin: 0.3vmin

button.action 
  height: var(--size-icon)
  margin: 0.3vmin
  box-sizing: border-box

  &.main 
    height: calc(var(--size-icon) * 1.3)
    margin: 0.3vmin
    box-sizing: border-box
    flex: 2

  &.double
    height: calc(var(--size-icon) * 2.4)
    margin: 0.3vmin
    box-sizing: border-box
    flex: 2

  &.secondary 
    height: calc(var(--size-icon) * 1.3)
    margin: 0.3vmin
    box-sizing: border-box
    flex: 1

.square 
  display: block
  width: var(--size-icon)
  height: var(--size-icon)
  flex: 0 0 auto

.square.mdi 
  font-size: calc(var(--size-icon) * 0.7)
  line-height: var(--size-icon)
  text-align: center

.row, .picker-row 
  display: flex
  flex-flow: row wrap

.right .row, .right .picker-row 
  flex-direction: row-reverse

.picker-row 
  padding: 0.3vmin

.action-controls 
  padding: 1vmin
  display: flex
  flex-direction: column
  color: white
  background-color: hsla(0deg, 0%, 10%, 60%)
  width: 90%
  height: 18.3vmin

  &.space 
    background-color: var(--color-space-faint)
  &.ground 
    background-color: var(--color-ground-faint)

.cross 
  color: red
  text-align: center
  font-size: var(--size-icon)
  line-height: var(--size-icon)

.action-bar 
  display: flex
.action-bar button 
  margin: 0 0 1vmin 0
  flex: 1