<script setup lang="ts">
defineProps<{
  type: 'damageLight' | 'damageHeavy' | 'damageAny'
}>()
</script>

<template>
  <span
    :class="{
      'icon': true,
      'black-hit': type === 'damageLight',
      'red-hit': type === 'damageHeavy',
      'direct-hit': type === 'damageAny',
    }"
  >
    <span class="cross mdi mdi-cancel" />
  </span>
</template>

<style scoped lang="sass">
.icon
  background-size: 300%
  display: inline-block
  width: var(--size-icon)
  height: var(--size-icon)

  &.black-hit
    background-image: url('@/assets/dice/light-die.png')
    background-position: bottom center

  &.red-hit
    background-image: url('@/assets/dice/heavy-die.jpg')
    background-position: bottom center

  &.direct-hit
    background-image: linear-gradient(black, black), url('@/assets/dice/versatile-die.jpg')
    background-position: bottom left
    background-blend-mode: saturation

  & .mdi
    padding: 0

.cross
  display: block
  width: 100%
  height: 100%
  color: hsla(0deg, 100%, 50%, 70%)

</style>