<script setup lang="ts">
import FightView from '@/views/FightView.vue'
</script>

<template>
  <FightView />
</template>

<style style lang="scss">
@use '@/assets/base.sass';

#app {
  margin: 0 auto;
  height: 100vh;

  font-weight: normal;
}

@media (min-width: 1024px) {
  #app {
    display: flex;
    flex-direction: column;
    place-items: center;
  }
}
</style>
